
@import 'utils/variables';
@import 'base/normalize';
@import 'utils/reset';


body {
    background-color: $primary-background-color;
    color: $secondary-text-color;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.section{
    padding: 94px 0;
}
.section-title {
    color: $title-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.icon {
    display: block;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image{
    display: block;
    height: auto;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
}

/*header logo*/
.page-header{
 border-bottom: 1px solid $header-border-color;
}
.page-header__block{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    align-items: center;
}
.logo{
    color: $accent-color;
    display: inline-block;
    font-family: $font-raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; /*31/26=1.1923*/
    text-decoration: none;
}
.page-header__logo{
    margin-right: 92px;
}
.page-header__logo--black span{
    color: $black-color;
}

/*list*/
.list{
    display: flex;
    
    @extend %list-none;
}

.list__item{
    &:not(:last-child) {
        margin-right: 50px;
    }
}
.list__link{
    @extend %link-none;
    color: $title-color;
    font-weight: 500;
    line-height: 1.4;/*16/14=1.142*/
    letter-spacing: 0.02em;
    text-decoration: none;
    display: inline-block;
    padding: 30px 0; /*щоб задати псевдоелемент*/
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    

    &:hover,
    &:focus {
        color: $accent-color;
    }
    &::after{
        content: '';
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
        
            width: 0;
            height: 4px;
            background-color: $accent-color;
            border-radius: 2px;
            transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover::after{
        width: 100%;
    }    
}
.list__link--active{
    color: $accent-color;
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
    
        width: 100%;
        height: 4px;
        background-color: $accent-color;
         border-radius: 2px;
    }
}

/*contact*/
.contacts{
    @extend %list-none;
    display: flex;

    justify-content: center;
    align-items: center;
}
.page-header__contact{
    margin-left: auto;
}
.contact__item:not(:last-child) {
    margin-right: 30px;
}

.contact__link{
    @extend %link-none;

    display: flex;
    align-items: center;
  
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    &:hover,
    &:focus,
    &:hover .icon, 
    &:focus .icon{
        color: $accent-color;
    }
}
.contact__icon{
    display: inline-block;
    margin-right: 10px;
}
/**/


/*hero*/
.hero{
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;
    background-color: $banner-color;
    background-image: linear-gradient(to right, $color-gradient, $color-gradient),
            url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title {
    text-align: center;
    color: $primary-text-color;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero__title{
    margin: 0 auto 30px;
}
.hero__button{
    margin: 0 auto;
    color: $primary-text-color;
    background-color: $accent-color;
}
/*features*/
.features__cards{
    @extend %list-none;
    display: flex;
    gap: 30px;
    padding: 5px;
}
 
.thumba{/* виставити svg*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: $secondary-background-color;
} 
.card__thumba:not(:last-child){
    margin-bottom: 30px;
}

.thumba__label{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-color;

    &:not(:last-child){
        margin-bottom: 10px;
    }
}
.description{
    line-height: 1.71;
    color: #757575;
}

/*work*/
.work{
    padding-top: 0;
}
.work__title{
    margin-bottom: 50px;
}
.products{
    @extend %list-none;
    display: inline-flex;
    column-gap: 30px;
} 
.products__item{
    position: relative;
    max-width: 370px;
    overflow: hidden; /*скрити все за межами, щоб добре працював ховер*/
} 
.content-hidden{
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    padding: 27px 10px;
    
    color: $primary-text-color;
    font-weight: 700;
    text-align: center;
    line-height: 1.1428;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    
    opacity: 1;
}

/*teams*/
.team{
    background-color: $secondary-background-color;
}
.team__title{
    margin-bottom: 50px;
}
.team-list{
    @extend %list-none;
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
.team-card{
    background-color: $primary-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.meta{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    color: $title-color;
    padding: 0 10px;
 
} 
.team-card__name:not(:last-child){
    margin-bottom: 10px ;
}
.speciality{
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    padding: 0 10px;
    
}
.team-card__speciality:not(:last-child) {
    margin-bottom: 16px;
}
/*social*/
.social{
    @extend %list-none;
    display: flex;
    width: 206px;
    height: 44px;
    column-gap: 10px;
} 

.social__items{          
    color: $client-icon-color;/*колір який наслідує іконка*/
}
.social__link{
    @extend %link-none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: inherit;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        background-color: $accent-color;
        }
}
.social__icon {

    .social__link:hover &,
    .social__link:focus &{
        fill: $primary-text-color;
    }
}

/*clients*/
.clients{
    padding: 50px 0;
}
.clients__title{
    margin-bottom: 50px;
}
.clients__row{
    @extend %list-none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
.gallery__link{
    display: flex;
    color: inherit;
    text-decoration: none;
    
    /* стилі вішаємо на силку !!!*/
    fill: $client-icon-color;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid $client-icon-color;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: $accent-color;
        }
}
.gallery__icon{
    .gallery__link:hover &,
    .gallery__link:focus &{
        fill: $accent-color;
    }
}

/*footer*/
.page-footer{
    padding: 60px 0;
    background-color: $footer-color;
}
.box{
    display: flex;
    list-style: none;
    align-items: baseline;
        /*зробити рівно до лого- рівняє по лінії текстового вмісту*/
}
/*footer__box__location*/
.page-footer__logo{
    margin-bottom: 20px;
}
.page-footer__logo--white span{
    color: $primary-text-color;
}

.address__row{
    @extend %list-none;
}
.address__item:not(:last-child) {
    margin-bottom: 9px;
}
.address__link{
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
            color: $accent-color;
        }
}
.address__link--white {
    color: $primary-text-color;
}
.address__link--gray{
    color: $footer-link-color;
}
/*footer__box__social*/

.box__social{
     margin-left: 70px;
}
.slogan{
    font-weight: 700;
    line-height: 1.1428;
    text-transform: uppercase;
    color: $primary-text-color;
}
.social__slogan {
    margin-bottom: 20px;
}
/*footer__box__sending*/
.box__sending{
    margin-left: auto;
    max-width: 570px;
    width: 100%;
}
.sending__slogan {
    margin-bottom: 20px;
}
.form{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
} 

.form__mail{/*email*/
    /*щоб розтягнути на ширину в макеті*/
    display: block;
    width: 100%;
    max-width: 358px;
}
.form__mail::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: $footer-link-color;
}
.mail__input{
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
    outline: none;
    width: 100%;
    color: $primary-text-color;
}
.form__btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 28px;
    min-width: 200px;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
} 
.btn__icon {
    fill: $primary-text-color;
}
/*backdrop*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
    width: 100%;
    height: 100%;
    background-color: $backdrop-baground-color;

    /*анмація при викиду модалки*/
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    /* анмація при викиду модалки*/
    /*rotate(0deg) - початковий стан модалки, тобто перед transition*/
    padding: 40px;

    max-width: 528px;
    max-height: 581px;
    width: 100%;
    height: 100%;
    padding: 40px;

    background-color: $primary-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    /*анмація при викиду модалки*/
    transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) rotate(-180deg);
    }

}
.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

/*-----------------*/
.close-modal {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    background: $primary-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: $accent-color;
    }
}

.close-modal__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $black-color;

    .close-modal:hover &,
    .close-modal:focus & {
        fill: $accent-color;
    }
    
}
.close-modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $black-color;
    margin-bottom: 12px;
}

/*form__modal*/
.form__modal {
    /* max-width: 448px;*/
    width: 100%;
    margin: 0 auto;
}
.group-row{
    width: 100%;
        
    &:not(:last-child) {
         margin-bottom: 10px;
    }
}

.label__group-row {
    font-size: 12px;
    line-height: 1.1667;
    letter-spacing: 0.01em;
    color: $secondary-text-color;

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}
.input-modal {
    position: relative;
}
.input-modal__inf{
    width: 100%;
    border: 1px solid $border-modal-input-color;
    border-radius: 4px;
    
    outline: none;
    min-height: 40px;
    height: 100%;
    padding: 12px 15px 12px 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:focus,
    &:hover {
        border-color: $accent-color;
    }
}
.input-modal__icon{
    position: absolute;
    top: 50%;
    left: 12px;
    
    transform: translateY(-50%);
    fill: $title-color;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .input-modal__inf:focus + &,
    .input-modal__inf:hover + & {
        fill: $accent-color;
    }
}
.group-row__textarea{
    width: 100%;
    min-height: 120px;
    height: 100%;
    border: 1px solid $border-modal-input-color;
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    cursor: pointer;
    resize: none;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    ::placeholder {
            font-family: 'Roboto';
            font-size: 12px;
            line-height: 1.66;
            letter-spacing: 0.01em;
            color: var(--textarea-placholder-color);
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.group-textarea:not(:last-child) {
    margin-bottom: 10px;
}
.textarea__group-textarea{
    width: 100%;
    min-height: 120px;
    height: 100%;
    border: 1px solid var(--border-modal-input-color);
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    cursor: pointer;
    resize: none;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        font-family: 'Roboto';
        font-size: 12px;
        line-height: 1.66;
        letter-spacing: 0.01em;
        color: $textarea-placholder-color;
    } 
    &:focus,
    &:hover {
        border-color: $accent-color;
    }

}
/*checkbox*/
.group-checkbox{
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 33px;
    
    }
}
.label__group-checkbox{
    /*position center for label*/
    display: flex;
    justify-content: center;
    width: 100%;
    
    gap: 7px;
    align-items: center;
    
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text-color;
    cursor: pointer;
}
.input__group-checkbox{
    -webkit-appearence: none;
    -moz--appearence: none;
    appearance: none;
    position: absolute;
}
.icon__group-checkbox{
    display: inline-flex;
    width: 16px;
    height: 15px;
    border: 2px solid $title-color;
    border-radius: 2px;
    
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .input__group-checkbox:checked + & {
        /*щоб клік відпрацьовував*/
        background-color: $accent-color;
        background-image: url(../images/check.svg);
        background-size: contain;
        background-position: center;
        border-color: $accent-color;
        background-origin: border-box;
    }
}
.link__group-checkbox{
    color: $accent-color;
    text-decoration: underline;
}
/*button*/
.button__modal{
    display: flex;
        justify-content: center;
    
        align-items: center;
}
.submit__modal{
        /* min-width: 200px;*/
    padding: 10px 52px;
    
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primary-text-color;
}

/*portfolio*/
.portfolio{ /*main*/
    padding-bottom: 100px;
    background-color: $primary-background-color;
}
.btns-list{
    @extend %list-none;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}
.btns-list__item{
    box-shadow: none;

    &:hover,   
    &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
            0px 1px 2px rgba(0, 0, 0, 0.08), 
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


.btns-list__button{
    color: $title-color;
    background-color: $secondary-background-color;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:focus,
    &:hover {
        color: $primary-text-color;
        background-color: $accent-color;
        
    }
}

.portfolio__list{
    @extend %list-none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.portfolio-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__link{
    @extend %link-none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.potfolio-card__box{
    position: relative;
    overflow: hidden;
}
.portfolio-card__hidden{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: $portfolio-card-background;
    
    color: $primary-text-color;
    
    font-size: 18px;
    line-height: 1.56;
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-card__link:focus &,
    .portfolio-card__link:hover &{
        transform: translateY(0);
    }
}

.portfolio-card__description{
    padding: 20px 24px;
    border: 1px solid $port-border-color;

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}
.portfolio-card__title{
    color: $title-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}
.portfolio-card__text{
    color: $secondary-text-color;
    padding: 0 5px;
    font-size: 16px;
    line-height: 1.88;
    &:not(:last-child) {
        margin-bottom: 4px;
    }
}










