.clients {

    &__title {
            margin-bottom: 50px;
        }
}

.clients-list {
        @extend %list-none;
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    

    &__link {
        display: flex;
        text-decoration: none;
    
        /* стилі вішаємо на силку !!!*/
        color: $client-icon-color;
        width: 170px;
        height: 92px;
        align-items: center;
        justify-content: center;
        border: 1px solid $client-icon-color;
        border-radius: 4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

        &:hover,
        &:focus {
            border-color: $accent-color;
        }
    }

    &__icon {
        
        .clients__link:hover &,
        .clients__link:focus & {
            fill: $accent-color;
        }
    }
}
