.form__modal {
    /* max-width: 448px;*/
    width: 100%;
    margin: 0 auto;
}
/*name,tel,email*/
.group-row {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &__label:not(:last-child) {
            margin-bottom: 4px;
        }
    
    &__modal {
        position: relative;
    }
    &__input {
        width: 100%;
        border: 1px solid $border-modal-input-color;
        border-radius: 4px;
    
        outline: none;
        min-height: 40px;
        height: 100%;
        padding: 12px 15px 12px 42px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    
        &:focus,
        &:hover {
            border-color: $accent-color;
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 12px;
    
        transform: translateY(-50%);
        fill: $title-color;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .input-modal__inf:focus+&,
        .input-modal__inf:hover+& {
                fill: $accent-color;
            }
    }
}
/*textarea*/
.group-textarea {
    
    &__label:not(:last-child) {
        margin-bottom: 4px;
    }

    &__textarea {
        width: 100%;
        min-height: 120px;
        height: 100%;
        border: 1px solid $border-modal-input-color;
        border-radius: 4px;
        padding: 12px 16px;
        outline: none;
        cursor: pointer;
        resize: none;
    
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &::placeholder {
            font-family: 'Roboto';
            font-size: 12px;
            line-height: 1.66;
            letter-spacing: 0.01em;
            color: $textarea-placholder-color;
        }
    
        &:focus,
        &:hover {
            border-color: $accent-color;
        }
    
    }
}

/*checkbox*/
.group-checkbox {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 33px;
    }

    &__label {
        /*position center for label*/
        display: flex;
        justify-content: center;
        width: 100%;
    
        gap: 7px;
        align-items: center;
    
        font-size: 14px;
        line-height: 1.71;
        color: $secondary-text-color;
        cursor: pointer;
    }
    &__input {
        -webkit-appearence: none;
        -moz--appearence: none;
        appearance: none;
        position: absolute;
    }
    &__icon{
        display: inline-flex;
        width: 16px;
        height: 15px;
        border: 2px solid $title-color;
        border-radius: 2px;
    
        transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .group-checkbox__input:checked+& {
            /*щоб клік відпрацьовував*/
            background-color: $accent-color;
            background-image: url(../images/check.svg);
            background-size: contain;
            background-position: center;
            border-color: $accent-color;
            background-origin: border-box;
        }
    }
    &__link {
        color: $accent-color;
        text-decoration: underline;
    }
}

/*button*/
.button-modal {
    min-width: 200px;

    &__submit {
        display: block;
        margin: 0 auto;
        padding: 10px 52px;
    }
}

