.portfolio {
    /*main*/
    padding-bottom: 100px;
    background-color: $primary-background-color;
}



.portfolio__list {
    @extend %list-none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.portfolio-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__link {
    @extend %link-none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.potfolio-card__box {
    position: relative;
    overflow: hidden;
}

.portfolio-card__hidden {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: $portfolio-card-background;

    color: $primary-text-color;

    font-size: 18px;
    line-height: 1.56;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-card__link:focus &,
    .portfolio-card__link:hover & {
        transform: translateY(0);
    }
}

.portfolio-card__description {
    padding: 20px 24px;
    border: 1px solid $port-border-color;

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}

.portfolio-card__title {
    color: $title-color;
    padding: 0 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}

.portfolio-card__text {
    color: $secondary-text-color;
    padding: 0 5px;
    font-size: 16px;
    line-height: 1.88;

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}