.work {
    padding-top: 0;

    &__title {
            margin-bottom: 50px;
        }
    
    &-list { /*worl-list*/
        @extend %list-none;
        display: inline-flex;
        column-gap: 30px;
    
        &__item {
            /*.work-list__item*/
            position: relative;
            max-width: 370px;
            overflow: hidden;
            /*скрити все за межами, щоб добре працював ховер*/
        }
    
        &__hidden {
            position: absolute;
            bottom: 0;
            left: 0;
    
            width: 100%;
            padding: 27px 10px;
    
            color: $primary-text-color;
            font-weight: 700;
            text-align: center;
            line-height: 1.1428;
            text-transform: uppercase;
            background-color: rgba(47, 48, 58, 0.8);
    
            opacity: 1;
        }
    }
}


