.section {
    padding: 94px 0;
}

.section-title {
    color: $title-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.icon {
    display: block;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image {
    display: block;
    height: auto;
    max-width: 100%;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
}