    $font-roboto: Roboto, sans-serif;
    $font-raleway: Raleway, sans-serif; 

    $primary-text-color: #FFFFFF;
    $secondary-text-color: #757575;
    $accent-color: #2196F3;
    $title-color: #212121;
    $footer-link-color: rgba(255, 255, 255, 0.6);
    $black-color: #000000;
    $header-border-color: #ECECEC;
    $port-border-color:#EEEEEE;
    $client-icon-color:#AFB1B8;
    $color-gradient:rgba(47, 48, 58, 0.4);
    $textarea-placholder-color:rgba(117, 117, 117, 0.5);

    $footer-icon-baground-color: rgba(255, 255, 255, 0.1);
    $primary-background-color: #FFFFFF;
    $secondary-background-color:#F5F4FA;
    $footer-color: #2F303A;
    $banner-color:#C4C4C4;
    $backdrop-baground-color:rgba(0, 0, 0, 0.2);
    $portfolio-card-background: rgba(33, 150, 243, 0.9);
    $border-modal-input-color: rgba(33, 33, 33, 0.2);